html{
  scroll-behavior: smooth;
}

body{
  background-color: #00B1FF;
}

header{
  position: fixed;
}

#cards{
  display: inline-block;
}

.img-responsive{
  max-height: 317px;
  margin-left: auto;
  margin-right: auto;
}

header{
  background-color: #16b9ff;
  overflow: hidden;
  position: fixed;
}

.btn.btn-link{
  color: #0058f1;
}

.btn.btn-primary{
  background: #0058f1;
  border-color: #0058f1 ;
}

a:visited{
  color: #0058f1;;
}

.github{
  color: #3b4351;   
}